@import "tailwindcss";

:root {
  --color-accent: #29665B;
  --color-hover: #1f4f46;
  --color-banner: #2C5B52;
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 15px;
    height: 20px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #FAFAFA;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #E2E2E2;
    border-radius: 100vh;
    border: 3px solid #f6f7ed;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #1A213D;
  }
}