@import "tailwindcss";

:root {
  --color-accent: #29665B;
  --color-hover: #1f4f46;
  --color-banner: #2C5B52;
  --color-bg: #f0faf8;
  --color-other-bubble: #d0ece8;
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 15px;
    height: 20px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    border-radius: 100vh;
    border: 3px solid #f6f7ed;
  }
}